@model Sample.Application.Entities.Record
<label style="font-weight:700;display:block;padding-top:40px;" id="hideDetails">Hide</label>
<div class='employee-details'>
    <ul>
        <li><label>Date:</label>@Model.Date</li>
        <li><label>Day:</label>@Model.Day</li>
        <li><label>Time:</label>@Model.Time</li>
        <li><label>Client:</label>@Model.Client</li>
        <li><label>Duration:</label>@Model.Duration</li>
        <li><label>DNB:</label>@Model.DNB</li>
        <li><label>Status:</label>@Model.Status</li>
        <li><label>Memo:</label>@Model.Memo</li>
        <li><label>Staff:</label>@Model.Staff</li>
    </ul>
</div>
